{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

<div class="container">
  <div class="row justify-content-end">
    <h1 class="header">{% trans from "app" %}Administration{% endtrans %}&nbsp;>>&nbsp;{% trans from "app" %}Users{% endtrans %}</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col mybox">
    	<h2 style="text-indent: 50px;">{% trans from "app" %}Users{% endtrans %}</h2>
    	<a href="{{ path('add_user') }}" class="rounded float-right">
    		<button type="button" class="btn btn-secondary btn-sm">
    			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg>&nbsp;{% trans from "app" %}Add user{% endtrans %}
    		</button>
    	</a>
    	<br>
    	<br>
    	<table class="table table-hover">
    		<thead>
				<tr>    				
		            <th scope="col">{% trans from "app" %}Username{% endtrans %}</th>
		            <th scope="col">{% trans from "app" %}Role{% endtrans %}</th>
			      	<th scope="col">{% trans from "app" %}Operation{% endtrans %}</th>
				</tr>
    		</thead>
			<tbody>
  				{% for user in users %}
				    <tr>
				      <td scope="row">{{ user.username }}</td>
                  	  <td>
                        {% for role in user.roles %} 
                          {{ role }}
                        {%endfor %}
                      </td>
                  <td>
                    <a href="{{ path('edit_user', {'id': user.id}) }}" class="rounded float-right">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg>
                    </a>
                  </td>
				    </tr>
  				{% endfor %}
			</tbody>
    	</table>
    </div>
  </div>
</div>
{% endblock %}